<!DOCTYPE HTML>
<html ng-app="MainApp">
<head>
<title>MVA Angular Tutorial</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"           content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body ng-controller="MainController">
    <h3>{{hello}}</h3>
    <h1> MVA Jquery Tutorial</h1>
   
    <h2>Evangelists</h2>
    <ul id="evangelists" >
        <li ng-repeat="person in people">Name:{{person.name}},Location:{{person.location}}</li>
    </ul>
    
    <h2>Add an Evangelist</h2>
    <form name="userform" ng-submit="addName(user)">
    <p>name:     <input type="text" id="name" ng-model="user.name"  ng-required="true" ng-minlength="2" ng-/>
        
        </p>
    <p>location: <input type="text" id="location" ng-model="user.location"/></p>
    <button id="btn-add-evangelist">Add to list</button>
   </form>
    

    <script src=" //cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">   </script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="assets/js/app/main-app.start.js">                                </script>
</body>
</html>